.task-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.task-item {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.task-item.completed {
    background-color: #d4edda;
    text-decoration: line-through;
}

.task-item h3, .task-item p {
    margin: 0;
}


.ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.75) !important;
}

.ReactModal__Content {
    top: 50% !important;
    left: 50% !important;
    right: auto !important;
    bottom: auto !important;
    margin-right: -50% !important;
    transform: translate(-50%, -50%) !important;
    padding: 20px !important;
    background: #000 !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2) !important;
    max-width: 500px !important;
    width: 100% !important;
}
